# Lambda and Map

# Lambda Basic Syntax 

lambda arguments : expression

In [30]:
add = lambda x, y: x + y

In [33]:
add3 = lambda x, y: (x + y, x - y)

In [16]:
# same as 
def add2(x, y):
    return x + y

In [31]:
add(2, 4)

6

In [34]:
add3(2, 4)

(6, -2)

# Map Basic Syntax

map(function_object, iterable1, iterable2,...)

In [38]:
def multiply_by_2(x):
  return x * 2
    
r = map(multiply_by_2, [1, 2, 3, 4])

In [39]:
r

In [40]:
list(r)

[2, 4, 6, 8]

In [56]:
r = map(lambda x : x*2, [1, 2, 3, 4])

In [51]:
r

In [57]:
r_list = list(r)
r_list

[2, 4, 6, 8]

In [35]:
x = 10; print(x)

10

In [58]:
for e in r_list:
    print(type(e))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [59]:
r = map(lambda x : x*2, [1, 2, 3.4, 4])
r_list = list(r)
for e in r_list:
    print(type(e))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>

In [61]:
d1 = {1: 0, 2: 0, 3: 0}

In [69]:
d2 = {i: (lambda i: i*i)(i) for i in range(5)}
d2

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [66]:
[(lambda i: i*i)(i) for i in range(5)]

[0, 1, 4, 9, 16]

In [70]:
d3 = {i: i*i for i in range(5)}
d3

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}